{% block content %}
    <div class="page-content-div">
        <h2>{{ 'telemetry service' }}</h2>
        <ul>
            {{ keypaddata }}
        </ul>
        <ul>
            {{ switchdata }}
        </ul>
        <ul>
            {{ fandata }}
        </ul>
        <ul>
            {{ heaterdata }}
        </ul>
    </div>
{% endblock %}