{% extends 'banner.html.twig' %}
{% block content %}
    <div class="page-content-div">
        <h1 class="cent">Telemetry Service</h1>
        <fieldset class="cent">
          <h2>{{ 'telemetry service' }}</h2>
          <ul>
              {{ keypaddata }}
          </ul>
          <br>
          <br>
          <ul>
              {{ switch1data }}
          </ul>
          <br>
          <br>
          <ul>
              {{ fandata }}
          </ul>
          <br>
          <br>
          <ul>
              {{ heaterdata }}
          </ul>
        </fieldset>
    </div>
{% endblock %}