{% extends 'banner.html.twig' %}
{% block content %}
    <div class="page-content-div">
        <h1 class="cent">Telemetry Service</h1>
        <fieldset class="cent">
          <h2>{{ 'Display Telemetry data' }}</h2>
            <table>
                <thead>
                <tr>
                    <th>KeyPad Data</th>
                    <th>Swtich1 Data</th>
                    <th>Swtich2 Data</th>
                    <th>Swtich3 Data</th>
                    <th>Swtich4 Data</th>
                    <th>Fan Data</th>
                    <th>Heater Data </th>
                </tr>
                </thead>
                <tbody>

                  <tr>
                        <td>{{ keypaddata }} </td>
                        <td>{{ switch1data }} </td>
                        <td>{{ switch2data }} </td>
                        <td>{{ switch3data }} </td>
                        <td>{{ switch4data }}</td>
                        <td>{{ fandata }} </td>
                        <td>{{ heaterdata }}</td>
                   </tr>
                </tbody>
            </table>
        </fieldset>
        <h1 class="cent"> META DATA</h1>
        <fieldset class="cent">

            <h2>Created At</h2>
            <ul>

            </ul>
            <h2>MSISDN</h2>
            <ul>

            </ul>

            <h2>Target MSISDN</h2>
            <ul>

            </ul>

            <h2>Date</h2>
            <ul>

            </ul>

            <h2>Message</h2>
            <ul>

            </ul>

        </fieldset>
    </div>
{% endblock %}
