{% extends 'banner.html.twig' %}
{% block content %}
    <div class="page-content-div">
        <h1 class="cent">Telemetry Service</h1>
        <fieldset class="cent">
            <h2>Keypad Data</h2>
            <ul>
                {% for entry in keypaddata %}
                    <li>{{ keypaddata }} - {{ entry.metadata }}</li>
                {% endfor %}
            </ul>

            <h2>Switch Data</h2>
            <ul>
                {% for entry in switchdata %}
                    <li>{{ switchdata }} - {{ entry.metadata }}</li>
                {% endfor %}
            </ul>

            <h2>Fan Data</h2>
            <ul>
                {% for entry in fandata %}
                    <li>{{ fandata }} - {{ entry.metadata }}</li>
                {% endfor %}
            </ul>

            <h2>Heater Data</h2>
            <ul>
                {% for entry in heaterdata %}
                    <li>{{ heaterdata }} - {{ entry.metadata }}</li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock %}
