{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h1>{{ Telemetry Login Page }}</h1>
        <form action="{{ action }}" method="post">
            <fieldset>
                <legend>Store your Telemetry Login Details here</legend>
                    <br>
                    <label for="username">Enter username: </label>
                    <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                    <br><br>
                    <label for="password">Enter your password: </label>
                    <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                    <br><br>
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}