{% extends 'banner.html.twig' %}
{% block content %}
    <div id="register-div">
        <form method="{{ method }}" action="{{ action }}">
            <fieldset>
                <legend>Register User </legend>
                <br />
                <label for="username"> Enter your name: </label>
                <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="password"> password: </label>
                <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <input type="submit" value="Create account">
            </fieldset>
        </form>
        <p> <a href="{{ login_page }}"> Login </a></p>
    </div>

{% endblock %}